src/__interfaces
src/accessors
src/bindings
/src/canisters/activeaddress
/src/canisters/autocorrelation
/src/canisters/deviation
/src/canisters/dexliquidity
/src/canisters/txvolume
/src/canisters/variance
src/target
/artifacts/*
!/artifacts/dfx.json
!/artifacts/canister_ids.json
.env